# .streamlit/secrets.toml
DATABASE_URL = "https://dgfudgctsgmcjtgdoxsi.supabase.co"
SUPABASE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRnZnVkZ2N0c2dtY2p0Z2RveHNpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDc0Nzg4ODQsImV4cCI6MjA2MzA1NDg4NH0.tTGxluLyrt03zlLU_jcUzucC0pOewpXmR4-kHJToZ8A"
ALPHA_VANTAGE_API_KEY = "5LU2EKREIF85DZTC"
DATABASE_PASSWORD = "wrlb2=wl&ho?2es+6gaN"